<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="text-align:left;">
    <strong>Уважаемый(ая) {{ name }}!</strong>

    <p>Вам предоставлен доступ в Личный кабинет ЖКХ, рабочая область которого обеспечивает единую информационно-технологическую инфраструктуру в управляющих компаниях, ТСЖ, ЖСК, объединяя все службы в единое информационное поле, автоматизирует рутинные процессы.</p>
    <p style="color: red;">ЭТО ПИСЬМО СФОРМИРОВАНО АВТОМАТИЧЕСКИ. ПОЖАЛУЙСТА, НЕ ОТВЕЧАЙТЕ НА НЕГО.</p>

    <hr/>

    <p>
        <strong>Вам следует запомнить или записать:</strong><br/><br/>
    
        <a href="https://lk.c300.me">Доступ в рабочую область</a><br/>
        Логин: <font color="blue">{{ number }}</font><br/>
        Пароль: <font color="blue">{{ password }}</font>&nbsp;&nbsp;&nbsp;
        <br/>
        <small><font color="red">(Внимание! В целях безопасности производится автоматическая смена пароля каждые 90 дней. Держите свою электронную почту в актуальном состоянии)</font></small><br/>
        <br/><br/>
        <ul>
            По всем вопросам при работе с системой, обращайтесь в техническую поддержку посредством встроенной системы сообщений.
    </p>
   
    <hr/>
    *************************************************************************************************
    <p><small>   
        Предупреждение: Полученная информация предназначена только для физического или юридического лица, которому она адресована, может являться конфиденциальной и содержать охраняемую тайну. Ознакомление, распространение, разглашение либо использование ее в любой форме, а также совершение любого действия, вытекающего из знания этой информации, физическим и/или юридическим лицом, не являющимся надлежащим получателем, запрещено. Если Вы получили это сообщение по ошибке, пожалуйста, удалите и уничтожьте всю полученную информацию, включая все копии, содержащиеся в компьютере получателя, распечатанные или сохраненные на диск.
    </small></p>
</body>
</html>
