{% extends 'tenant.html' %}

{% block message %}
    <p>Информируем Вас о том, что в личном кабинете жителя (кабинет-жителя.рф) подключен новый функционал:</p>
    <ul>
        <li>оплата квитанций на коммунальные платежи пластиковой картой прямо из личного кабинета;</li>
        <li>подключение услуги «Автоплатеж» для автоматической ежемесячной оплаты квитанций (с подтверждением суммы через SMS).</li>
    </ul>
    <p>Произведенная из личного кабинета оплата мгновенно зачисляется на Ваш лицевой счет.</p>
    <p>Для оплаты квитанций в личном кабинете, в разделе «Лицевой счет» нажмите на пиктограмму с изображением денежной купюры и далее следуйте инструкциям.</p>
    <p>Внимание! Если Ваша управляющая организация не имеет договора на прием денежных средств с пластиковых карт, Вам будет предложено отправить автоматический запрос на подключение данного функционала.</p>
    <p>Все операции осуществляются через процессинговый центр банка ОАО «Петербургский социальный коммерческий банк» (ПСКБ). К оплате принимаются пластиковые карты любого банка: Сбербанк, ВТБ, Уралсиб и т. п.</p>
{% end %}

{% block footer %}
    По всем вопросам просим обращаться в службу технической поддержки посредством встроенной системы сообщений.
{% end %}
