{% extends 'tenant.html' %}

{% block message %}
    <p>Я, {{ account.first_name }} {{ account.last_name }} проживающий по адресу {{ account.area.str_address }} прошу подключить мне услугу оплаты банковской пластиковой картой выставленных счет-квитанций за жилищно-коммунальные услуги через личный кабинет и мобильное приложение "Домовой».</p>
    <p>С уважением, {{ account.first_name }} {{ account.last_name }}</p>

    <p>
        Для подключения услуги интернет-эквайринга (оплата пластиковой картой) любого банка эмитента, через личный кабинет жителя и мобильное приложение «Домовой», требуется заключить договор с ОАО "Петербургский социальный коммерческий банк" на прием платежей от физических лиц с помощью пластиковой карты. В случае имеющихся договорных отношений с ПСКБ на ведение расчетного счета, установку терминала самообслуживания, интернет-эквайринга, нужно уточнить по телефону: +7 (812) 332-26-26 доб. 7801 о возможности подключения услуги.
    </p>
    <p style="background: #DDD; font-size: small; border: 1px solid #BBB; margin: 20px 0">
        Порядок заключения договора, если нет договорных отношений с ПСКБ:</br>
        1. Подготовить копии следующих документов (все обязательны к предоставлению):</br>
        1.1. Свидетельство о государственной регистрации (ОГРН) (копия, за подписью руководителя, заверенная печатью организации);</br>
        1.2. Устав со всеми изменениями к нему;</br>
        1.3. Свидетельство о постановке на учёт в налоговом органе (ИНН) (копия, за подписью руководителя, заверенная печатью организации);</br>
        1.4. Выписка из ЕГРЮЛ (копия, за подписью руководителя, заверенная печатью организации);</br>
        1.5. Документ (решение, протокол) об избрании руководителя (Генерального директора, Директора и т. п.) (копия, за подписью руководителя, заверенная печатью организации);</br>
        1.6. Приказ о вступлении в должность руководителя (копия, за подписью руководителя, заверенная печатью организации);</br>
        1.7. Паспорт руководителя и представителя (доверенного лица) (копии, за подписью руководителя, заверенные печатью организации);</br>
        1.8. Доверенность на лицо, подписывающее Договор (в случае если Договор подписывает не руководитель);</br>
        1.9. Уведомление о возможности применения упрощенной системы налогообложения (предоставляется в случае применения упрощенной системы налогообложения) или Заявление о переходе на упрощенную систему налогообложения, с обязательной отметкой налогового органа о получении Заявления (копия, за подписью руководителя, заверенная печатью организации).</br>
        1.10. Реквизиты организации + подробные контактные данные лиц, курирующих договор в части расчетов, технической части и по общим вопросам.</br>
        Все вышеуказанные документы нужно отсканировать и направить на электронную почту: soprovojden_ps@pscb.ru
    </p>
    <p>
        После получения документов в электронном виде, с Вами свяжется менеджер Банка и направит проект договора и другие необходимые документы.
    </p>
{% end %}

{% block footer %}
    <p>По общим вопросам просим обращаться по телефону: +7 (812) 332-26-26 доб. 7801</p>

    <p>
        По вопросам подключения оплаты банковскими пластиковыми картами просим обращатся к Алексееву Николаю Александровичу, тел.: +7 (812) 332-2626 доб.7070, e-mail: nalekseev@pscb.ru или Кузнецову Михаилу Вячеславовичу, тел.: +7 (812) 332-2626 доб.7216, e-mail: kmv@pscb.ru
    </p>

    <p>
        По вопросам установки терминалов самообслуживания просим обращается к Дидиченко Дмитрию Игоревичу, тел.: +7 (812) 332 2626 доб.7143, e-mail: ddi@pscb.ru и Зеулину Владимиру Валентиновичу, тел.: +7 (812) 332 2626 доб.7225, e-mail: vvzeulin@pscb.ru
    </p>
{% end %}
