{% extends 'base_old.html' %}

{% block provider %}
    {{ account.provider.str_name }}
{% end %}

{% block body %}
	{% block content %}{% end %}
    {% block mobile %}{% end %}
	{% block footer %}
        <br>
        <p style="border: solid 2px red; border-radius: 10px; padding: 5px;">
            ЭТО ПИСЬМО СФОРМИРОВАНО АВТОМАТИЧЕСКИ. ПОЖАЛУЙСТА, НЕ ОТВЕЧАЙТЕ НА НЕГО.
        </p>
        <br>
        {% block prefooter %}{% end %}
        <hr/>
        <p style="font-size: 11px;">
            Предупреждение: Полученная информация предназначена только для
            физического или юридического лица, которому она адресована. Эта
            информация может являться конфиденциальной и содержать охраняемую тайну.
            Ознакомление, распространение, разглашение, либо использование ее в
            любой форме, а также совершение любого действия, вытекающего из знания
            этой информации, физическим или юридическим лицом, не являющимся
            надлежащим получателем, запрещено.
        </p>
        <p style="font-size: 11px;">
            Если Вы получили это сообщение по ошибке, пожалуйста, удалите и
            уничтожьте всю полученную информацию, включая все копии, содержащиеся в
            компьютере получателя, распечатанные или сохраненные на диск.
        </p>
	{% end %}
{% end %}
