{% extends "base_new.html" %}
{% block title %}Восстановление пароля{% end %}

{% block header %}
        <p style="text-align:left; font-size:24px;">
            {% if provider.name %}{{ provider.str_name }}{% else %}&nbsp;{% end %}
        </p>
        <p>
            {% if 'Tenant' in account._type %}
            {{ account.area.house.address }}
            {% end %}
        </p>
{% end %}


{% block message %}
    {% set url = '/'.join((base_url, 'a/password/reset', str(account._id), account.password_reset_code)) %}
    <p>Для восстановления пароля перейдите по <a href="{{ url }}">ссылке</a></p>
<br>
<div align="center">
    <a href="{{ url }}" style="padding: 15px 40px 15px 40px; background-color: #b8b8b8; border: 1px solid #939393; color: white;">
        Восстановить пароль
    </a>
</div>

{% end %}