{% extends "base_new.html" %}

{% block title %}Новый пароль{% end %}

{% block header %}
        <p style="text-align:left; font-size:24px;">
            {% if provider.name %}{{ provider.str_name }}{% else %}&nbsp;{% end %}
        </p>
        <p>
            {% if 'Tenant' in account._type %}
            {{ account.area.house.address }}
            {% end %}
        </p>
{% end %}


{% block message %}
  <p>Вам предоставлен доступ рабочую область.</p>

    <p>
        В качестве логина: <strong>{{ account.login }}</strong><br/>
        В качестве пароля: <strong>{{ password }}</strong>&nbsp;&nbsp;&nbsp;
        <br/>
            </p>

<br>
<div align="center">
    <a href="{{ base_url }}" style="padding: 15px 40px 15px 40px; background-color: #b8b8b8; border: 1px solid #939393; color: white;">
        Перейти в рабочую область
    </a>
</div>

<br>
<font color="red"> ВНИМАНИЕ!</font> После успешного подтверждения электронного адреса
и получения электронного письма с данными для доступа,
удалите данное письмо со своего почтового ящика

{% end %}
