static
backend/files/
backend/media/
backend/settings_local.py
.env
.venv

todo.txt
__pycache__/
*.pyc
*.log
log
logs/
.idea
*.lprof
*.DS_Store
*.Idea
.fseventsd
.~lock.*
.cache/
backend/celerybeat-schedule

# Unit test / coverage reports
reports/
backend/reports/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
/venv
.backend