{% extends "base.html" %}

{% block header %}
    <div style="margin: 0 auto; display: inline-block;">
        <div style="height: 66px; width: 66px; text-align: left; float: left; margin-right: 10px;">
            <!--<img style="height: 64px; width: 64px;" src="">-->
        </div>
        <div style="float: left; text-align: left;">
            <div style="font-size: 24px; padding-top: 7px; padding-bottom: 5px;">
                {{ account.provider.str_name }}
            </div>

        </div>
    </div>
{% endblock %}


{% block message %}
    <p>Вам предоставлен доступ в рабочую область. </p>
    <p>
        <br/>
        <pre>В качестве логина: {{ account.number }}</pre>
        <pre>В качестве пароля: {{ password }}</pre>
    </p>
    <div style="text-align: center;">
        <a href="{{ base_url }}" style="background: #5cb85c; border-radius: 8px; font-size: 16px; text-decoration: none; color: #ffffff; padding: 10px;">Перейти в рабочую область</a>
    </div>
    <p style="width: 80%; margin: 30px 0 0 10%; background: #FCF8E3; border-radius: 8px; border: 1px solid #FAEBCC; font-size: 12px; text-decoration: none; color: #222; padding: 10px; text-align: center">
        <font color="red"> ВНИМАНИЕ!</font> После успешного подтверждения электронного адреса
и получения электронного письма с данными для доступа,
удалите данное письмо со своего почтового ящика
    </p>
{% endblock %}
