<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div style="width: 208.2mm; height: 295.4mm; font-size: 4mm;">
            <div style="position: absolute; left: 25mm; top: 24mm">
                {% if provider.logo_image %}
                    <img src="/api/v2/files/{{ provider.logo_image.uuid }}" width="150px" />
                {% end %}
            </div>
            <div style="margin-left:35%; padding-top: 20mm">
                <div style="font-weight: bold; ">{{ provider.str_name }}</div><br>
                <div><i><strong>ИНН/КПП: {{ provider.inn }}/{{ provider.kpp }}, Юридический адрес: г. Санкт-Петербург, Индустриальный пр., д. 40, корп. 1, лит. Б, пом. 10Н, тел/факс 640-88-26;</strong></i></div>
                <div>Р/счет: {{ bank['account'] }}</div>
                <div>{{ bank['name'] }}</div>
                <div>Кор/счет: {{ bank['kor_account'] }}</div>
                <div>БИК: {{ bank['bik'] }}</div>
            </div>
            <div><ins></ins>________________________________________________________________________________________________</div><br>
            <span>
            <div style="width: 50%; float:left">Исх.№_____ от {{ str_now }}</div>
            <div style="width: 50%; float: right; text-align: right"></div></span>
            <br></br>
            <span style="float:right; text-align: right">Собственнику квартиры № {{ tenant.area.number }}</span><br>
            <span style="float:right; text-align: right">{{ tenant.short_name }}</span><br>
            <span style="float:right; text-align: right">расположенной по адресу:</span><br>
            <span style="float:right; text-align: right">{{ tenant.area.str_address }}</span>

            <div style="margin-top: 15mm; margin-left: 45%">ПРЕТЕНЗИЯ</div><br>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Уважаемый собственник, {{ provider.str_name }} осуществляет функции по управлению и техническому обслуживанию общего имущества многоквартирного дома, расположенного по адресу: {{tenant.area.house.address}}</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Вам, как владельцу квартиры в доме, со стороны Управляющей компании ежемесячно оказывается комплекс услуг по содержанию дома в целом, имущества, находящегося в общей совместной собственности,  предоставлению коммунальных услуг. Вы, как владелец квартиры, несёте бремя содержания вышеуказанного имущества. На основании статьи 153 ЖК РФ Вы обязаны ежемесячно оплачивать коммунальные услуги на основании выставляемых Вам {{ provider.str_name }} счетов-квитанций.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">На {{date.strftime('%d.%m.%Y')}} года Ваша задолженность по оплате коммунальных услуг и услуг по обслуживанию жилого дома за период с {{ query_args['date_from'].strftime('%d.%m.%Y') }} года по {{ query_args['date_till'].strftime('%d.%m.%Y') }} года составляет {{ str_debt }}. Просим Вас в течение пятнадцати дней с момента направления настоящей Претензии полностью оплатить имеющуюся задолженность. Неполучение ответа в пятнадцатидневный срок с момента направления настоящей претензии будет расцениваться, как Ваш отказ в ее удовлетворении. {{ provider.str_name }} обратиться в суд для взыскания задолженности в принудительном порядке.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">При обращении в суд, помимо суммы долга, Вам будут предъявлены требования по возмещению расходов на представителя в размере 5 000 (пять тысяч) рублей, оплате государственной пошлины в размере, установленном ст. 333.19 Налогового кодекса РФ, взысканию пени от неоплаченных в срок сумм за каждый день просрочки в размере, установленном  ч.14 ст.155 Жилищного кодекса РФ.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Необходимость взыскания задолженности в судебном порядке вызвана обязанностью {{ provider.str_name }} в полном объёме и вовремя выполнять принятые на себя обязательства по оплате выставленных счетов в рамках заключенных договоров с поставщиками услуг и ресурсоснабжающими  компаниями. </p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Несвоевременная оплата счетов за обслуживание – это нарушение Вами прав других собственников (жильцов) дома, за счёт которых содержится и эксплуатируется, в том числе, и ваша собственность.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Для разрешения разногласий относительно размеров существующей задолженности, уточнения периодов неисполнения обязательства по оплате и подписания соглашения о графике погашения задолженности,приглашаем  Вас  на прием  в офис {{ provider.str_name }}, расположенный по адресу: Санкт-Петербург, ул. Васенко, д. 12, пом. 19-Н, часы приема вт. 17:00-19:00, чт. 10:00-12:00.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Дополнительно сообщаем, что в соответствии п.117 Правил предоставления коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов, утвержденных Постановлением Правительства  от 6 мая 2011 г. N 354, управляющая компания вправечерез 30 дней после настоящего предупреждения, в случае непогашения Вами задолженности по оплате коммунальных услуг, ограничить или приостановить предоставление коммунальных услуг.</p>

            <br>
            <div style="width: 30%; float: left; text-align: right">Представитель по доверенности</div>
            <div style="width: 30%; float: right; text-align: left">Аненкова Светлана Владимировна</div>
        </div>
    </body>
</html>
