<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div style="width: 208.2mm; height: 295.4mm; font-size: 4mm;">
            <div style="margin-left:35%; padding-top: 20mm">
                <div style="font-weight: bold; ">{{ provider.str_name }}</div><br>
                <div>ИНН/КПП: {{ provider.inn }}/{{ provider.kpp }}</div>
                <div>Р/счет: {{ bank['account'] }}</div>
                <div>{{ bank['name'] }}</div>
                <div>Кор/счет: {{ bank['kor_account'] }}</div>
                <div>БИК: {{ bank['bik'] }}</div>
            </div>
            <div><ins></ins>________________________________________________________________________________________________</div><br>
            <span>
            <div style="width: 50%; float:left">г. Санкт-Петербург</div>
            <div style="width: 50%; float: right; text-align: right">{{ date }}</div></span>
            <br></br>
            <span style="float:right; text-align: right">Собственнику квартиры (помещения) № {{ tenant.area.number }}</span><br>
            <span style="float:right; text-align: right">расположенной по адресу</span><br>
            <span style="float:right; text-align: right">{{ tenant.area.house.address }}</span>

            <div style="margin-top: 15mm; margin-left: 45%">ПРЕТЕНЗИЯ</div><br>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Уважаемая (ый) {{ tenant.short_name }}, Вы являетесь собственником квартиры (помещения) № {{ tenant.area.number }}, расположенной в доме: {{ tenant.area.house.address }}. В указанном доме функции по управлению комплексом недвижимого имущества осуществляет {{ provider.str_name }}.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Вам, как собственнику помещения в доме, со стороны {{ provider.str_name }} ежемесячно оказывается комплекс услуг по содержанию дома в целом, имущества, находящегося в общей совместной собственности, а так же иные коммунальные услуги. Вы, как собственник помещения, в соответствии со статьей 153 Жилищного Кодекса РФ, несёте бремя содержания вышеуказанного имущества. На основании статьи 153 ЖК РФ Вы обязаны ежемесячно оплачивать коммунальные услуги на основании выставляемых Вам счетов-квитанций.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">На {{ date }} года Ваша задолженность по оплате коммунальных услуг и услуг по обслуживанию жилого дома составляет <b>{{ debt }} руб.</b>. Просим Вас в срочном порядке приступить к погашению задолженности и не позднее чем через месяц со дня получения настоящей Претензии полностью оплатить имеющуюся задолженность, в противном случае {{ provider.str_name}} будет вынуждено начать процедуру по ограничению поставки в Вашу квартиру коммунальных услуг в соответствии с пунктом 114 раздела XI Правил предоставления коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов, утвержденных Постановлением Правительства РФ от 06.05.2011 № 354 «О предоставлении коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов» и обратиться в суд для взыскания задолженности в принудительном порядке</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">При обращении в суд, помимо суммы долга, Вам будут предъявлены требования по оплате процентов за пользование чужими денежными средствами, расходов  по оплате государственной пошлины, судебных издержек.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Необходимость взыскания задолженности в судебном порядке вызвана обязанностью {{ provider.str_name }} в полном объёме и вовремя выполнять принятые на себя обязательства перед другими собственниками дома, которые в большинстве своем своевременно оплачивают счета и соответственно вправе требовать проживания в чистом, технически исправном и безопасном доме. </p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Несвоевременная оплата счетов за обслуживание – это нарушение Вами прав других собственников (жильцов) дома, за счёт которых содержится и эксплуатируется в том числе и ваша собственность.</p>
            <p style="text-indent: 20mm; margin: 0px" align="justify">Для разрешения разногласий относительно размеров существующей задолженности и уточнения периодов неисполнения обязательства по оплате, приглашаем Вас для проведения сверки расчётов на приём в бухгалтерию {{ provider.str_name }} в часы приема, указанные в счете-квитанции.</p>
            <br>
            <p style="margin-bottom: 0px">Директор</p>
            <div style="width: 50%; float: left">{{ provider.str_name }}</div>
            <div style="width: 50%; float: right; text-align: right">Васильев Дмитрий Александрович</div>
        </div>
    </body>
</html>
